@use "../../scss/global/constants";

.serviceDetail {
  &__container {
    background-color: var(--neutralColdColor);
    width: 550px;
    height: 500px;
    border-radius: 15px;
    padding: 30px;
    padding-top: 60px;
    position: relative;

    li {
      margin-left: 50px;
    }

    @media (max-width: constants.$mobileWidth) {
      width: 80%;
      li {
        margin-left: 10px;
      }
    }
  }
}
