:root {
  --mainColor: #669a96;
  --lightColor: #c0e2e4;
  --secondaryColor: #955a73;
  --secondaryLightColor: #eddce8;
  --complementaryColor: #7e9021;
  --neutralCalidColor: #fdedec;
  --neutralColdColor: #e8f8f5;
  --neutralColor: #e8daef;
  --mobileWidth: 1100px;

}
