@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Great+Vibes&family=Inconsolata:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600&display=swap");

.typed-cursor {
  color: black;
}

$neutralFont: "Poppins", sans-serif;
$otherFont: "Roboto", sans-serif;
$mainFont: "Bree Serif", serif;
$secondaryFont: "Great Vibes", cursive;
$codeFont: "Inconsolata", monospace;

