@use "../../scss/global/constants";

.footer {
  display: flex;
  flex-direction: column;
  background: var(--secondaryLightColor);

  &__container {
    &-info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 50px;
    }

    &-copyright {
      background: black;
      padding: 5px;

      span {
        color: red;
        margin: 0 15px;
      }
    }

    .up-button {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 40px;
      height: 40px;
      position: fixed;
      bottom: 150px;
      right: 20px;
      background: var(--secondaryLightColor);
      border-radius: 100px;
      padding: 5px;
      img {
        width: 25px;
      }
    }
  }
}
